<%= session[:user_id] %>
<h1>PGA World Rankings</h1>
<h2>Stats for the 2013 season</h2>

<table>

     <!--  <th>Rank</th> -->
      <th>Player Name</th>
      <!-- <th>Tournament</th> -->
      <th>Points</th>

      <td><% @players.each do |player| %></td>
      <th>
      <tr><%= player.name %></tr>
      <% player.points.each do |point| %>
      <tr><%= point.amount %></tr>
      <% end %>
      <tr><%= button_to "delete", { action: "destroy", id: player.id},
      {method: :delete, data:{confirm: "Are you sure?"}}%></tr>
      <tr><%= link_to "edit", edit_player_path(player) %></tr>
    </th>


    <% end %>
</table>