<h1>Edit Players</h1>

<%= form_for @player do |p| %>
<p>
		<%= p.label :name%>
		<%= p.text_field :name %>
</p>

<p>
		<%= p.label :tournament, "Tournament"%>
		<%= p.text_field :tournament %>
</p>

<p>
		<%= p.label :rank, "Rank"%>
		<%= p.text_field :rank %>
</p>

<p>
<%= p.submit%>
</p>

<%end%>